<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sure!</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="dist/css/main.css">

</head>

<body>

<!--<header class="header">-->
    <!--<div class="headerLinks">-->
        <!--<div class="headerLink">-->
            <!--<a href="#">Some header link</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</header>-->

<div class="phone-container">
    <div class="marvel-device nexus5">
        <div class="top-bar"></div>
        <div class="sleep"></div>
        <div class="volume"></div>
        <div class="camera"></div>
        <div class="screen" id="app">

            <aside class="side-menu">

            </aside>
            <header class="header">
                <div class="headerLink pull-left" id="menu-toggle">
                    <!--<a href="#">-->
                        <div id="nav-icon4">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    <!--</a>-->
                </div>
                <div class="headerLink">
                    <a href="#" class="logo-text">Sure!</a>
                </div>
            </header>

            <section class="main-content">

                <div class="modal">
                    <div class="modal-inner-container">
                        <div class="create-chore form-group">
                            <label class="chore-description-label" for="chore-description">Create new chore</label>
                            <input v-model="newItem" id="chore-description" type="text" placeholder="e.g. do the dishes, make the bed">
                        </div>

                        <button @click="goToUrgency()" class="select-urgency">
                            <i class="fa fa-exclamation"></i>
                        </button>
                        <div class="urgency-description-container">
                            <div class="urgency-description">
                                <h1>How urgent</h1>
                                <h2>is the chore?</h2>
                            </div>

                            <div class="urgency-buttons-container">
                                <button class="select-urgency" id="urgency-1" @click="confirmUrgency( '#909090' )">
                                    <i class="fa fa-exclamation"></i>
                                </button>
                                <button class="select-urgency" id="urgency-2" @click="confirmUrgency( '#6e9eb1' )">
                                    <i class="fa fa-exclamation"></i><i class="fa fa-exclamation"></i>
                                </button>
                                <button class="select-urgency" id="urgency-3" @click="confirmUrgency( '#4cacd3' )">
                                    <i class="fa fa-exclamation"></i><i class="fa fa-exclamation"></i><i class="fa fa-exclamation"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="chore-list">
                    <ul>
                        <li v-for="item in todos">
                            <div class="todoItemContainer">
                                <div class="urgency"></div>
                                <div class="description">
                                    {{ item.text }}
                                </div>
                                <div id="{{ $index }}" class="chore-checkbox" @click="checkChore( $index )">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-square-o fa-stack-2x"></i>
                                        <i class="fa fa-check fa-stack-2x"></i>
                                    </span>

                                </div>

                                <!--<button class="" @click="deleteThisTodoItem( $index )"></button>-->
                                <!--<button class="" @click="editThisTodoItem( $index )"></button>-->
                                <!--<div class="" id="{{ $index }}" style="display: none;">-->
                                    <!--<input class="" type="text" id="edit-{{ $index }}" placeholder="{{ item.text }}" @keyup.enter="saveEdit( $index )">-->
                                <!--</div>-->
                            </div>
                        </li>

                    </ul>

                    <ul>
                        <li v-for="item in todos">
                            <template v-show="item.checked">
                                <div class="todoItemContainer">
                                    <div class="description">

                                        {{ item.text }}
                                    </div>
                                    <div id="'done' + '{{ $index }}'" class="chore-checkbox" @click="checkChore( $index )">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-square-o fa-stack-2x"></i>
                                        <i class="fa fa-check fa-stack-1x"></i>
                                    </span>

                                    </div>

                                    <!--<button class="" @click="deleteThisTodoItem( $index )"></button>-->
                                    <!--<button class="" @click="editThisTodoItem( $index )"></button>-->
                                    <!--<div class="" id="{{ $index }}" style="display: none;">-->
                                    <!--<input class="" type="text" id="edit-{{ $index }}" placeholder="{{ item.text }}" @keyup.enter="saveEdit( $index )">-->
                                    <!--</div>-->
                                </div>
                            </template>
                        </li>

                    </ul>
                </div>


            </section>

            <footer class="footer">
                <button class="new-task">
                    <i class="fa fa-plus"></i>
                </button>
                <button class="modal-close">
                    <i class="fa fa-times"></i>
                </button>
            </footer>
        </div>
    </div>
</div>


</body>

<script src="dist/js/all.js"></script>

</html>


