button{
  &.new-task{
    border-radius: 30px;
    height: 2.2rem;
    width: 7rem;
    margin: 0;
    vertical-align: middle;
    position: relative;
    top: 8px;
    font-size: 1.3rem;
  }

  &.modal-close{
    background: $alert-color;
    opacity: 0;
    height: 2.2rem;
    position: absolute;
    right: 20px;
    top: 8px;
    margin: 0;
    -webkit-transform: translate3d( 200%, 0, 0 );
    -moz-transform: translate3d( 200%, 0, 0 );
    -ms-transform: translate3d( 200%, 0, 0 );
    -o-transform: translate3d( 200%, 0, 0 );
    transform: translate3d( 200%, 0, 0 );
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    &.modal-active{
      opacity: 1;
      -webkit-transform: translate3d( 0, 0, 0 );
      -moz-transform: translate3d( 0, 0, 0 );
      -ms-transform: translate3d( 0, 0, 0 );
      -o-transform: translate3d( 0, 0, 0 );
      transform: translate3d( 0, 0, 0 );
    }
  }
}